body {
        margin: 0;
}


.Header {
        background-color: black;
        padding: 10px;
        color: aqua;
        font-style: italic;
        text-align: center;
        display: grid;
        align-items: center;
        grid-template-columns: 0fr 6fr 1fr;
        column-gap: 5px;






}


.Topnav {
        background-color: black;

}


.Topnav a {
        color: red;
        padding: 12px 12px;
        text-decoration-line: underline red;

}


.Topnav a:hover {
        background-color: antiquewhite;

}


.Middle {
        padding: 10px;
        height: 100vh;
        width: 100vw;
}


.Footer {
        background-color: black;
        padding: 10px;
        text-align: center;
        color: red;
}